<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/public/stylesheets/style.css' />
</head>

<body>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
      </tr>
    </thead>
    <tbody>
      <% for (let client of clients){%>
        <tr>
          <th scope="row">
            <%= client.Id%>
          </th>
          <td>
            <%= client.Name%>
          </td>
          <td>
            <%= client.Phone%>
          </td>
        </tr>
        <%}%>
    </tbody>
  </table>
</body>

</html>